.socialContainer {
    text-align: right;
}
.socialLink{
    display: inline-block;
    max-width: 40px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}
.socialIcon{
    width: 30px;
}